@model MagicVilla_Web.Models.Dto.VillaNumberCreateDTO

@{
    ViewData["Title"] = "Create";
    List<VillaDTO> list = (List<VillaDTO>)ViewData["VillaList"];
}

<h1>Create</h1>

<h4>VillaNumberCreateDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VillaNo" class="control-label"></label>
                <input asp-for="VillaNo" class="form-control" />
                <span asp-validation-for="VillaNo" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="VillaId" class="control-label">Villa</label>
                @Html.DropDownListFor(u => u.VillaId,
                new SelectList(list.Select(t => new SelectListItem
                {
                Text = t.Name,
                Value = t.Id.ToString()
                }), "Value", "Text"),
                new { @class = "form-control" })
                <span asp-validation-for="VillaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialDetails" class="control-label"></label>
                <input asp-for="SpecialDetails" class="form-control" />
                <span asp-validation-for="SpecialDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
